<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <div class="comics">
      <a href="/comic1" class="bookmarks">SUPERMAN VS. SHAZAM</a>
      <a href="/comic2" class="bookmarks">THE JOKER</a>
      <a href="/comic3" class="bookmarks">WONDER WOMAN</a>
      <a href="/comic4" class="bookmarks">FALLEN ANGEL</a>
      <a href="/comic5" class="bookmarks">RED HOOD: OUTLAW</a>
    </div>
  </body>
</html>